span.subtitle {
    color: #bababa;
    margin: 0 5px 0 0;
}
span.subtitle.after {
    margin: 0 0 0 5px;
}

#tl_navigation .tl_level_2 a.iidoConfigContao {
    display: none;
}

.widget:not(.w50) {
    clear: both;
    /*width: 96%;*/
    width: calc(100% - 30px);
}

.wizard .color-picker .tl_text_2 {
    float: left;
    width: 26%;
}

.wizard .color-picker + img {
    margin: 8px 0 0 1%;
}

.wizard .color-select {
    float: left;
    width: 31%;
    margin-left: 2%;
}

.wizard .color-select + img {
    margin-top: 7px;
}

.widget > div.be_explanation {
    font-size: 14px;
}

.color-preview {
    display: block;
    float: left;

    width: 6%;
    height: 30px;

    padding: 0;
    margin: 2px 1% 2px 0;

    border: 1px solid #aaa;
    border-radius: 2px;

    box-sizing: border-box;

    -moz-appearance: none;
    -webkit-appearance: none;
}

.color-select {
    width: 33% !important;
    margin-left: 1%;
}
.meta-widget .color-select {
    width: 27% !important;
}

.o50 {
    /*margin-left: 52%;*/
    margin-left: calc(50% + 15px);
}

fieldset.rsce_list {
    padding-left: 10px;
}

.rsce_list_toolbar {
    margin-bottom: 15px;
}

.tl_content_left {
    width: calc(100% - 210px);
}

.mt {
    margin-top: 40px;
}

.labels {
    background: #f3f3f3;
    padding: 8px 8px 0;
    border-radius: 3px;
    margin: 5px 0;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.labels:after {
    display: table;
    content: '';
    clear: both;
    float: none;
}

.labels .label-link {
    background: #909390;
    color: #fff;
    float: left;
    display: block;
    margin: 0 10px 8px 0;
    border-radius: 3px;
    padding: 5px;
}

.labels + input {
    width: 100% !important;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.labels .label-link.active {
    background: #000;
}
.labels .label-link:not(.active):hover {
    background: #666966;
}

.tl_metawizard .tl_select {
    float: left;
    width: 82%;
}

.tl_metawizard .tl_select_unit {
    width: 16.8%;
}

.tl_metawizard .tl_text_trbl {
    width: 15.3%;
    background-color: #fff;
}

.tl_metawizard .tl_text,
.tl_metawizard .labels {
    float: left;
    width: 82% !important;
}

.tl_metawizard .meta-widget.widget-link input.tl_text {
    width: calc(82% - 22px) !important;
}

.tl_metawizard .meta-widget.widget-link input.tl_text + a {
    display: inline-block;

    padding: 6px 0 0 2px;

    width: 22px; height: 30px;

    text-align: center;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.tl_metawizard .color-preview {
    width: 4%;
}
.tl_metawizard .color-picker {
    float: left;
    width: 45%;
    margin-right: 1%;
}

.tl_metawizard .color-picker + img {
    float: left;
    margin: 9px 0 0;
}

.tl_metawizard .tl_text_2 {
    width: 49%;
}

.tl_metawizard .widget-color .tl_select {
    float: left;
    width: calc(30% - 16px);
    /*margin-left: 1%;*/
}

.tl_metawizard .labels + input.tl_text {
    margin-left: 18%;
}

.tl_metawizard .widget-color > img {
    margin: 8px 0 0 1%;
}

.tl_metawizard .meta-widget > h3 {
    display: none;
}

.tl_metawizard .meta-widget:after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

.tl_metawizard .widget-color,
.tl_metawizard .widget-imageText,
.tl_metawizard .widget-hoverTitle,
.tl_metawizard .widget-categories {
    padding: 20px 0 0;
}

.tl_metawizard .widget-global-category {
    padding: 15px 0 10px;
}

.tl_metawizard .widget-global-category label + div {
    float: left;
}

.tl_metawizard .widget-global-category .selector_container > ul {
    padding-bottom: 4px;
}

.tl_metawizard .widget-global-category .selector_container > ul > li {
    padding: 0;
}

.tl_metawizard .widget-previewImage > div {
    float: left;
}

.ha,
.heightauto,
.height-auto,
.hauto {
    height: auto;
}

.w50.ha,
.w50.heightauto,
.w50.height-auto,
.w50.hauto {
    min-height: 80px;
}

/*#main {*/
    /*padding: 0 0 50px;*/
    /**/
    /*-webkit-box-sizing : border-box;*/
    /*-moz-box-sizing    : border-box;*/
    /*box-sizing         : border-box;*/
/*}*/

/*#main .tl_formbody_submit {*/
    /*position: fixed;*/
    /*right: 0; bottom: 0; left: 240px;*/
    /**/
    /*width: calc(100vw - 240px);*/
/*}*/
body.popup #main .tl_formbody_submit {
    width: 100vw;
}

/*#left .wrapper-sticky,*/
/*.wrapper-sticky #left:not(.sticky) {*/
    /*width: 100% !important;*/
/*}*/

/*#left .version {*/
    /*padding-top: 2em;*/
/*}*/

/*#header {*/
    /*position: fixed;*/
    /*top: 0; right: 0; left: 0;*/
    /**/
    /*width: 100vw;*/
    /**/
    /*z-index: 50000;*/
/*}*/

/*#container {*/
    /*padding-top: 40px;*/
/*}*/

/*.tl_modulewizard tbody tr:not(:last-child) td {*/
    /*border-bottom: 1px solid #ccc;*/
/*}*/

.tl_modulewizard {
    max-width: 100%;
}

.tl_modulewizard thead tr th,
.tl_modulewizard tbody tr td {
    padding: 0 5px;
}

.tl_modulewizard tbody tr td.field-color input.tl_text {
    width: 80px;
}

.tl_modulewizard tbody tr td.field-size {
    width: 120px;
}

.tl_modulewizard tbody tr td.field-size > .tl_text_unit {
    width: calc(79% - 32px);
}

.tl_modulewizard tbody tr td.field-size > select {
    width: 50px;
}

.tl_modulewizard tbody tr td > div.tl_text_field {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tl_modulewizard tbody tr td .tl_radio_table label {
    display: inline;
    float: none;
}

.tl_modulewizard tbody tr td .tl_radio_table tr td {
    white-space: nowrap;
}

.mcw-radio-table table {
    width: 100% !important;
    max-width: none !important;
}

.mcw-radio-table tbody tr td .tl_text_field:before {
    content: 'Wert: ';
    display: block;
}
.mcw-radio-table tbody tr td .tl_text_field:after {
    content: 'Bezeichnung: ';
    display: block;

    position: absolute;
    left: 0; top: 67px;
}

.mcw-radio-table table,
.mcw-radio-table table tbody,
.mcw-radio-table table thead,
.mcw-radio-table table tr,
.mcw-radio-table table tr td {
    display: block;
}

.mcw-radio-table table tr {
    display: flex;
    position: relative;
    padding: 30px 0 0;
}

.mcw-radio-table table tr th:not(:last-child),
.mcw-radio-table table tr td:not(:last-child) {
    width: 25%;
    /*padding: 0 0 15px;*/
}
.mcw-radio-table table thead tr th:last-child,
.mcw-radio-table table thead tr td:last-child {
    display: none;
}

.mcw-radio-table table thead tr th:first-child,
.mcw-radio-table table tbody tr td:first-child {
    padding-left: 5px;
}

.mcw-radio-table table tbody tr td:last-child {
    width: auto !important;
}

.mcw-radio-table table tbody tr {
    border: 1px solid #ccc;
    margin: 8px 0;
}

.mcw-radio-table table tbody tr td input {
    width: 95% !important;
}

.mcw-radio-table table tbody tr td:not(:last-child) input:nth-child(2) {
    margin-top: 25px;
}

.mcw-radio-table table tbody tr td:last-child {
    float: right;
    display: block;

    position: absolute;
    top: 0; right: 0;

    background: #fcfcfc;
    padding: 8px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.w50.nclra + .subpal,
.w50.no-clr-after + .subpal,
.w50.nclra-clr + .clr,
.w50.no-clr-after-clr + .clr {
    clear: none;
}

.sub-box {
    border: 1px solid #ccc;
    padding: 6px 0 15px 15px;
    margin-bottom: 10px;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.sub-box + .subpal {
    position: relative;

    border: 1px solid #ccc;
    margin: 0 15px;
}

.sub-box + .subpal:before {
    content: '';

    position: absolute;
    top: -12px; left: -1px;

    background: #fff;

    width: calc(50% - 15px); height: 12px;

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

span.grey,
span.gray {
     color: #999;
     padding-left: 3px;
}

.tl_checkbox_wizard .sortable span.gray,
.tl_checkbox_wizard .sortable span.grey {
    display: inline;
}

.list_view > .iido-message {
    margin: 0 0 20px;
}

.iido-message-wrapper {
    padding: 5px 18px 15px;
}

input.tl_text.has-addon {
    width: 85%;

    -webkit-border-radius : 2px 0 0 2px;
    -moz-border-radius    : 2px 0 0 2px;
    border-radius         : 2px 0 0 2px;
}
input.tl_text.has-addon + .addon {
    display: inline-block;

    width: 15%; height: 30px;

    color: #333;
    font-size: 18px;
    text-align: center;
    line-height: 28px;

    border: 1px solid #aaa;
    border-left: none;

    background: #ececec;

    vertical-align: middle;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;

    -webkit-border-radius : 0 2px 2px 0;
    -moz-border-radius    : 0 2px 2px 0;
    border-radius         : 0 2px 2px 0;
}

#sub_iidoBasic_weatherIconsSet {
    clear: none;
}

.backend-welcome-container h2 {
    margin: 18px 0 6px;
}

.backend-welcome-container:after {
    content: '';

    display: table;
    float: none;
    clear: both;
}

.backend-welcome-container .half-column {
    float: left;
    width: 50%;
}

/*.backend-welcome-container .half-column:first-child {*/
    /*border-right: 1px solid #e6e6e8;*/
/*}*/

.backend-welcome-container .form-widget {
    padding: 5px 0 15px;
}

.backend-welcome-container .form-widget label {
    display: block;
}

.backend-welcome-container .form-widget input,
.backend-welcome-container .form-widget textarea {
    width: 80%;
    resize: none;
}

.backend-welcome-container .form-widget textarea {
    min-height: 50px;
}

.backend-welcome-container .support-contact {
    line-height: 1.5em;
}



/* explanation */

.be_explanation {
    margin-top: 15px;
}
.be_explanation .intro {
    display: inline;
}
.be_explanation .collapse {
    display: none;
}
.be_explanation .toggle {
    background-repeat: no-repeat;
    background: url("bundles/iido_basic/images/backend/icons/explanation_open.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: right;
}
.be_explanation.open .intro {
    display: none;
}
.be_explanation.open .toggle {
    background-image: url("bundles/iido_basic/images/backend/icons/explanation_close.png");
}
.be_explanation.open .collapse {
    display: inline;
}

.isContao4 .be_explanation {
    font-size: .875rem !important;
}



/* list wizard */

.tl_listwizard li.size-2:not(.has-label) .tl_text,
.tl_listwizard li.has-label.size-2 > span.input-cont {
    width: 37%;
}
.tl_listwizard li.size-3:not(.has-label) .tl_text,
.tl_listwizard li.has-label.size-3 > span.input-cont {
    width: 26%;
}

.tl_listwizard li.size-2.has-checkbox:not(.has-label) .tl_text,
.tl_listwizard li.has-label.size-2.has-checkbox > span.input-cont:not(.is-checkbox) {
    width: 32%;
}

.tl_listwizard li.has-label.size-2.has-checkbox > span.input-cont.is-checkbox {
    width: 10%;
    text-align: center;
}

.tl_listwizard li {
    padding: 0 0 20px;
}

.tl_listwizard li.has-label:after {
    content: '';

    display: table;
    float: none;
    clear: both;
}

.tl_listwizard li.has-label > span.input-cont {
    float: left;
    display: block;
}

.tl_listwizard li.has-label > span.input-cont .tl_text {
    width: 95%;
}

.tl_listwizard li.has-label > span.input-cont > label {
    display: block;
    padding: 0 0 4px;
}
.tl_listwizard li.has-label > span.input-cont.is-checkbox > label {
    padding: 0 0 13px;
}

.widget.w15,
.widget.w20,
.widget.w25,
.widget.w30 {
    float: left;
    width: calc(30% - 30px);

    clear: none;

    min-height: 80px;
}
.widget.w15 { width: calc(15% - 30px); }
.widget.w20 { width: calc(20% - 30px); }
.widget.w25 { width: calc(25% - 30px); }

.widget.wauto {
    clear: none;
    float: left;

    width: auto;
}

.widget.wauto + *.widget:not(.wauto) {
    clear: both;
}



/* space / divider fields */

.widget.space-top {
    position: relative;

    padding-top: 15px;
    margin-top: 25px;

    border-top: 1px solid #e6e6e8;
}
.widget.space-top:before,
.widget.space-top:after {
    content: '';

    position: absolute;
    top: -1px;

    height: 1px;
    width: 15px;

    background: #e6e6e8;
}

.widget.space-top:before {
    left: -15px;
}

.widget.space-top:after {
    right: -15px;
}


span.mobile-infos {
    float: right;
    margin-right: 150px;

    color: #b0b0b0;
}
span.mobile-infos strong {
    color: #919191;
}

.dataTables_wrapper {
    width: 100%;
}

.tl_content.wrapper_start,
.tl_content.wrapper_stop {
    background-color: #f3f3f5;
}
.tl_content.wrapper_start {
    border-bottom: none;
}
.tl_content.wrapper_stop {
    border-top: none;
}

span.pos-infos {
    margin-left: 50px;
}

span.pos-infos > span {
    padding-right: 8px;
}


/**
 * backend list
 */

.backend-list {
    padding: 20px;
}

.backend-list .backend-list-item {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 15px 0;
}
.backend-list .backend-list-item.has-icon {
    padding-left: 110px;
}
.backend-list .backend-list-item:after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

.backend-list .backend-list-item > * {
    float: left;

    line-height: 38px;
    vertical-align: middle;

    margin-left: 35px;
}
.backend-list .backend-list-item > *:first-child,
.backend-list .backend-list-item > *.icon:first-child + * {
    margin: 0;
}

/*.backend-list .backend-list-item > .icon {*/
    /*opacity: 0.85;*/
/*}*/

.backend-list .backend-list-item > .name,
.backend-list .backend-list-item > .title {
    font-size: 18px;
}

.backend-list .backend-list-item > .actions {
    float: right;
}
.backend-list .backend-list-item > .actions .dropdown {
    display: block !important;
}

.tl_content_left > span.item-title {
    display: inline-block;
    width: 300px;
}

.tl_content_left > span.tl_info {
    padding-top: 6px;
    padding-bottom: 6px;
}

.big-css-selector input.tl_text_2:first-child {
    width: 20%;
}
.big-css-selector input.tl_text_2:nth-child(2) {
    width: 79%;
    margin-right: 0;
}