span.subtitle {
    color: #bababa;
    margin: 0 5px 0 0;
}
span.subtitle.after {
    margin: 0 0 0 5px;
}

#tl_navigation .tl_level_2 a.iidoConfigContao {
    display: none;
}

.widget:not(.w50) {
    clear: both;
    width: 96%;
}

.wizard .color-picker .tl_text_2 {
    float: left;
    width: 26%;
}

.wizard .color-picker + img {
    margin: 8px 0 0 1%;
}

.wizard .color-select {
    float: left;
    width: 31%;
    margin-left: 2%;
}

.wizard .color-select + img {
    margin-top: 7px;
}

.color-preview {
    display: block;
    float: left;

    width: 6%;
    height: 30px;

    padding: 0;
    margin: 2px 1% 2px 0;

    border: 1px solid #aaa;
    border-radius: 2px;

    box-sizing: border-box;

    -moz-appearance: none;
    -webkit-appearance: none;
}

.color-select {
    width: 33% !important;
    margin-left: 1%;
}
.meta-widget .color-select {
    width: 27% !important;
}

.o50 {
    /*margin-left: 52%;*/
    margin-left: calc(50% + 15px);
}

fieldset.rsce_list {
    padding-left: 10px;
}

.rsce_list_toolbar {
    margin-bottom: 15px;
}

.tl_content_left {
    width: calc(100% - 210px);
}

.mt {
    margin-top: 40px;
}

.labels {
    background: #f3f3f3;
    padding: 8px 8px 0;
    border-radius: 3px;
    margin: 5px 0;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.labels:after {
    display: table;
    content: '';
    clear: both;
    float: none;
}

.labels .label-link {
    background: #909390;
    color: #fff;
    float: left;
    display: block;
    margin: 0 10px 8px 0;
    border-radius: 3px;
    padding: 5px;
}

.labels + input {
    width: 100% !important;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.labels .label-link.active {
    background: #000;
}
.labels .label-link:not(.active):hover {
    background: #666966;
}

.tl_metawizard .tl_select {
    float: left;
    width: 82%;
}

.tl_metawizard .tl_select_unit {
    width: 16.8%;
}

.tl_metawizard .tl_text_trbl {
    width: 15.3%;
    background-color: #fff;
}

.tl_metawizard .tl_text,
.tl_metawizard .labels {
    float: left;
    width: 82% !important;
}

.tl_metawizard .color-preview {
    width: 4%;
}
.tl_metawizard .color-picker {
    float: left;
    width: 45%;
    margin-right: 1%;
}

.tl_metawizard .color-picker + img {
    float: left;
    margin: 9px 0 0;
}

.tl_metawizard .tl_text_2 {
    width: 49%;
}

.tl_metawizard .widget-color .tl_select {
    float: left;
    width: calc(30% - 16px);
    /*margin-left: 1%;*/
}

.tl_metawizard .labels + input.tl_text {
    margin-left: 18%;
}

.tl_metawizard .widget-color > img {
    margin: 8px 0 0 1%;
}

.tl_metawizard .meta-widget > h3 {
    display: none;
}

.tl_metawizard .meta-widget:after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

.tl_metawizard .widget-color,
.tl_metawizard .widget-imageText,
.tl_metawizard .widget-hoverTitle,
.tl_metawizard .widget-categories {
    padding: 20px 0 0;
}

.ha,
.heightauto,
.height-auto,
.hauto {
    height: auto;
}

.w50.ha,
.w50.heightauto,
.w50.height-auto,
.w50.hauto {
    min-height: 80px;
}

/*#main {*/
    /*padding: 0 0 50px;*/
    /**/
    /*-webkit-box-sizing : border-box;*/
    /*-moz-box-sizing    : border-box;*/
    /*box-sizing         : border-box;*/
/*}*/

/*#main .tl_formbody_submit {*/
    /*position: fixed;*/
    /*right: 0; bottom: 0; left: 240px;*/
    /**/
    /*width: calc(100vw - 240px);*/
/*}*/
body.popup #main .tl_formbody_submit {
    width: 100vw;
}

/*#left .wrapper-sticky,*/
/*.wrapper-sticky #left:not(.sticky) {*/
    /*width: 100% !important;*/
/*}*/

/*#left .version {*/
    /*padding-top: 2em;*/
/*}*/

/*#header {*/
    /*position: fixed;*/
    /*top: 0; right: 0; left: 0;*/
    /**/
    /*width: 100vw;*/
    /**/
    /*z-index: 50000;*/
/*}*/

/*#container {*/
    /*padding-top: 40px;*/
/*}*/

/*.tl_modulewizard tbody tr:not(:last-child) td {*/
    /*border-bottom: 1px solid #ccc;*/
/*}*/

.tl_modulewizard tbody tr td > div.tl_text_field {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mcw-radio-table table {
    width: 100% !important;
    max-width: none !important;
}

.mcw-radio-table tbody tr td .tl_text_field:before {
    content: 'Wert: ';
    display: block;
}
.mcw-radio-table tbody tr td .tl_text_field:after {
    content: 'Bezeichnung: ';
    display: block;

    position: absolute;
    left: 0; top: 67px;
}

.mcw-radio-table table,
.mcw-radio-table table tbody,
.mcw-radio-table table thead,
.mcw-radio-table table tr,
.mcw-radio-table table tr td {
    display: block;
}

.mcw-radio-table table tr {
    display: flex;
    position: relative;
    padding: 30px 0 0;
}

.mcw-radio-table table tr th:not(:last-child),
.mcw-radio-table table tr td:not(:last-child) {
    width: 25%;
    /*padding: 0 0 15px;*/
}
.mcw-radio-table table thead tr th:last-child,
.mcw-radio-table table thead tr td:last-child {
    display: none;
}

.mcw-radio-table table thead tr th:first-child,
.mcw-radio-table table tbody tr td:first-child {
    padding-left: 5px;
}

.mcw-radio-table table tbody tr td:last-child {
    width: auto !important;
}

.mcw-radio-table table tbody tr {
    border: 1px solid #ccc;
    margin: 8px 0;
}

.mcw-radio-table table tbody tr td input {
    width: 95% !important;
}

.mcw-radio-table table tbody tr td:not(:last-child) input:nth-child(2) {
    margin-top: 25px;
}

.mcw-radio-table table tbody tr td:last-child {
    float: right;
    display: block;

    position: absolute;
    top: 0; right: 0;

    background: #fcfcfc;
    padding: 8px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.w50.nclra + .subpal,
.w50.no-clr-after + .subpal,
.w50.nclra-clr + .clr,
.w50.no-clr-after-clr + .clr {
    clear: none;
}

.sub-box {
    border: 1px solid #ccc;
    padding: 6px 0 0 15px;
    margin-bottom: -1px;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.sub-box + .subpal {
    position: relative;

    border: 1px solid #ccc;
    margin: 0 15px;
}

.sub-box + .subpal:before {
    content: '';

    position: absolute;
    top: -3px; left: 0;

    background: #fff;

    width: calc(50% - 16px);
    height: 5px;
}span.grey,
 span.gray {
     color: #999;
     padding-left: 3px;
 }

.tl_checkbox_wizard .sortable span.gray,
.tl_checkbox_wizard .sortable span.grey {
    display: inline;
}

#sub_iidoBasic_weatherIconsSet {
    clear: none;
}

.backend-welcome-container h2 {
    margin: 18px 0 6px;
}

.backend-welcome-container:after {
    content: '';

    display: table;
    float: none;
    clear: both;
}

.backend-welcome-container .half-column {
    float: left;
    width: 50%;
}

/*.backend-welcome-container .half-column:first-child {*/
    /*border-right: 1px solid #e6e6e8;*/
/*}*/

.backend-welcome-container .form-widget {
    padding: 5px 0 15px;
}

.backend-welcome-container .form-widget label {
    display: block;
}

.backend-welcome-container .form-widget input,
.backend-welcome-container .form-widget textarea {
    width: 80%;
    resize: none;
}

.backend-welcome-container .form-widget textarea {
    min-height: 50px;
}

.backend-welcome-container .support-contact {
    line-height: 1.5em;
}