.w16 {
    float: left;
    width: calc(100% / 6 - 30px);
    min-height: 80px;
}

.w25 {
    float: left;
    width: calc(25% - 30px);
    min-height: 80px;
}

.w33 {
    float: left;
    width: calc(100% / 3 - 30px);
    min-height: 80px;
}

.ha,
.hauto,
.heightauto,
.height-auto {
    height: auto;
}

.w50.ha,
.w50.heightauto,
.w50.height-auto,
.w50.hauto {
    min-height: 80px;
}

.clr.cw16,
.clr.cw25 {
    width: calc(100% - 30px);
}

.cw16 fieldset > br,
/*.cw16 fieldset > legend,*/
.cw16 fieldset > legend + input + input.tl_checkbox,
.cw16 fieldset > legend + input + input.tl_checkbox + label,
.cw25 fieldset > br,
/*.cw25 fieldset > legend,*/
.cw25 fieldset > legend + input + input.tl_checkbox,
.cw25 fieldset > legend + input + input.tl_checkbox + label {
    display: none;
}
.cw16 fieldset > *,
.cw25 fieldset > * {
    float: left;
}

.cw16 fieldset > legend,
.cw25 fieldset > legend {
    display: block;
    float: none;

    padding-bottom: 5px;
}

.cw16 fieldset > label,
.cw25 fieldset > label {
    width: calc(25% - 24px); height: 24px;
    line-height: 24px;
    margin: 0 7px 7px 0;
}
.cw16 fieldset > label {
    width: calc(100% / 6 - 26px);
    /*line-height: 18px;*/
}

.cw16 fieldset > label:last-of-type,
.cw25 fieldset > label:last-of-type {
    width: auto;
}

.cw16 fieldset > input[type="checkbox"],
.cw25 fieldset > input[type="checkbox"] {
    width: 16px; height: 16px;
    margin: 4px;
}

.cw16 fieldset:after,
.cw25 fieldset:after {
    content: "";
    display: block;
    clear: both;
}



/**
 * iido tags widget
 * --------------------------------- */

.labels {
    background: #f3f3f3;
    padding: 8px 8px 0;
    border-radius: 3px;
    margin: 5px 0;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.labels:after {
    display: table;
    content: '';
    clear: both;
    float: none;
}

.labels .label-link {
    background: #909390;
    color: #fff;
    float: left;
    display: block;
    margin: 0 10px 8px 0;
    border-radius: 3px;
    padding: 5px;
}

.labels + input {
    width: 100% !important;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.labels .label-link.active {
    background: #000;
}
.labels .label-link:not(.active):hover {
    background: #666966;
}

#tl_soverview > div#tl_intro {
    padding-top: 18px;
}



/**
 * article list (tree)
 * --------------------------------- */

.tl_left .article-title {
    float: left;

    width: 35%;
}

.tl_left .article-col-width {
    float: left;

    text-indent: 0;
}



/**
 * text field addon
 * --------------------------------- */

input.tl_text.has-addon {
    width: 85%;

    -webkit-border-radius : 2px 0 0 2px;
    -moz-border-radius    : 2px 0 0 2px;
    border-radius         : 2px 0 0 2px;
}
input.tl_text.has-addon + .addon {
    display: inline-block;

    width: 15%; height: 30px;

    color: #333;
    /*color: #9a9a9a;*/
    /*color: #1d1d1b;*/
    font-size: 18px;
    text-align: center;
    /*line-height: 28px;*/
    line-height: 20px;

    border: 1px solid #aaa;
    border-left: none;

    background: #ececec;

    vertical-align: middle;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;

    -webkit-border-radius : 0 2px 2px 0;
    -moz-border-radius    : 0 2px 2px 0;
    border-radius         : 0 2px 2px 0;
}

input.tl_text.has-addon + .addon sup {
    font-size: 0.65em;
}



/**
 * css ID field styles
 * --------------------------------- */

.widget.css-id-field {
    width: calc(100% - 30px);
}

.widget.css-id-field .tl_text_2:first-child {
    width: 23.5%;
}
.widget.css-id-field .tl_text_2:nth-child(2) {
    width: 75.5%;
}