{% extends "@IIDOBasic/layout.html.twig" %}

{% block main %}

    <fieldset class="tl_tbox nolegend login-fieldset">
        <h3>ERROR</h3>
        <p>NO CONNECTION</p>
    </fieldset>

{% endblock %}
