{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
IIDO Website Config
{% endblock %}

{% block main %}
    <div class="tl_buttons">
        <a href="#" class="header_back" title="">Zurück</a>
    </div>

    <div class="iid-backend-container">
        WEBSITE CONFIG!!
    </div>
{% endblock %}

{% block error %}{% endblock %}
