#tl_navigation .tl_level_2 a.iidoConfigContao {
    display: none;
}

.widget:not(.w50) {
    clear: both;
}

.o50 {
    margin-left: 52%;
}

fieldset.rsce_list {
    padding-left: 10px;
}

.rsce_list_toolbar {
    margin-bottom: 15px;
}

.tl_content_left {
    width: calc(100% - 210px);
}

.mt {
    margin-top: 40px;
}

.tl_metawizard .tl_select {
    float: left;
    width: 82%;
}

.tl_metawizard .tl_select_unit {
    width: 16.6%;
}

.tl_metawizard .tl_text_trbl {
    width: 15.3%;
    background-color: #fff;
}

.tl_metawizard .meta-widget:after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

.tl_metawizard .widget-imageText,
.tl_metawizard .widget-hoverTitle {
    padding: 20px 0 0;
}

.ha,
.heightauto,
.height-auto,
.hauto {
    height: auto;
}