
#header {
    max-width: 520px;
    margin: 5% auto 0;
}

#tmenu,
#left,
#footer {
    display: none;
}

#container {
    max-width: 520px;
    margin: 0 auto;
    background: #fff;
}

#main {
    float: none;
    width: 100%;
    margin: 0;
}

h1.main_headline {
    display: none;
}

.backend-container {
    padding: 15px 20px;
}

.backend-container h2 {
    padding: 0 10px 15px;
}

.backend-container .cols:after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

.backend-container .col50 {
    width: 50%;
    float: left;
}

.backend-container .widget {
    padding: 0 0 15px;
    margin: 0 10px;
}

.backend-container .submit_container {
    text-align: right;
    padding: 0 10px;
}

.config-contao-container .tl_checkbox_container > div span {
    float: left;
    width: 50%;
}

.config-contao-container .tl_checkbox_container > div:after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

.login-master-container .iido-message {
    margin: 0 10px 8px;
}
