
#header {
    max-width: 520px;
    margin: 5% auto 0;
}

#tmenu,
#left,
#footer {
    display: none;
}

#container {
    max-width: 520px;
    margin: 0 auto;
    background: #fff;
}

#main {
    float: none;
    width: 100%;
    margin: 0;
}

h1.main_headline {
    display: none;
}